page-add-user-photobooth {
  .content{
    padding: 0px;
    background-image: url('../../assets/imgs/fond.png');
    background-size: cover;
  }
  .app-title{
    margin-bottom: 20px;
  }
  .img-title{
    padding-top: 5%;
    display: block;
    width: 190px;
    margin-right: auto;
    margin-left: auto;
  }
  ion-icon{
    margin-right: 5px; 
  }

  .my-ion-item{
    background: transparent;
    //border-bottom : 1px solid black;
  }

  .text-center{
    text-align: center;
    
  }
}
